@font-face {
    font-family: 'Marck Script';
    src: url('MarckScript-Regular.eot');
    src: local('Marck Script'), local('MarckScript-Regular'),
        url('MarckScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('MarckScript-Regular.woff2') format('woff2'),
        url('MarckScript-Regular.woff') format('woff'),
        url('MarckScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

